# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Test coverage
.coverage
htmlcov/
.pytest_cache/

# Misc
*.egg
.env
.ruff_cache/
.mypy_cache/